<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.fsmeeting.default</string>
	<key>version</key>
	<integer>1</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[微笑]</string>
			<key>name</key>
			<string>weix</string>
			<key>png</key>
			<string>d_weix.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[奋斗]</string>
			<key>name</key>
			<string>fend</string>
			<key>png</key>
			<string>d_fend.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[坏笑]</string>
			<key>name</key>
			<string>huaix</string>
			<key>png</key>
			<string>d_huaix.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[汗]</string>
			<key>name</key>
			<string>han</string>
			<key>png</key>
			<string>d_han.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[鼓掌]</string>
			<key>name</key>
			<string>guz</string>
			<key>png</key>
			<string>d_guz.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[大笑]</string>
			<key>name</key>
			<string>dax</string>
			<key>png</key>
			<string>d_dax.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[吃瓜]</string>
			<key>name</key>
			<string>chig</string>
			<key>png</key>
			<string>d_chig.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[再见]</string>
			<key>name</key>
			<string>zaij</string>
			<key>png</key>
			<string>d_zaij.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[色]</string>
			<key>name</key>
			<string>se</string>
			<key>png</key>
			<string>d_se.png</string>
			<key>lenght</key>
			<string>4</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[偷笑]</string>
			<key>name</key>
			<string>toux</string>
			<key>png</key>
			<string>d_toux.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[得意]</string>
			<key>name</key>
			<string>dey</string>
			<key>png</key>
			<string>d_dey.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[难过]</string>
			<key>name</key>
			<string>nang</string>
			<key>png</key>
			<string>d_nang.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[晕]</string>
			<key>name</key>
			<string>yun</string>
			<key>png</key>
			<string>d_yun.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[疑问]</string>
			<key>name</key>
			<string>yiwen</string>
			<key>png</key>
			<string>d_yiwen.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[害羞]</string>
			<key>name</key>
			<string>haix</string>
			<key>png</key>
			<string>d_haix.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[惊讶]</string>
			<key>name</key>
			<string>jingy</string>
			<key>png</key>
			<string>d_jingy.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[生气]</string>
			<key>name</key>
			<string>shqi</string>
			<key>png</key>
			<string>d_shqi.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[发呆]</string>
			<key>name</key>
			<string>fad</string>
			<key>png</key>
			<string>d_fad.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[嬉笑]</string>
			<key>name</key>
			<string>xix</string>
			<key>png</key>
			<string>d_xix.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[思考]</string>
			<key>name</key>
			<string>sik</string>
			<key>png</key>
			<string>d_sik.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[撇嘴]</string>
			<key>name</key>
			<string>piez</string>
			<key>png</key>
			<string>d_piez.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[无奈]</string>
			<key>name</key>
			<string>wun</string>
			<key>png</key>
			<string>d_wun.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[期待]</string>
			<key>name</key>
			<string>qid</string>
			<key>png</key>
			<string>d_qid.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抠鼻]</string>
			<key>name</key>
			<string>koub</string>
			<key>png</key>
			<string>d_koub.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[星星眼]</string>
			<key>name</key>
			<string>xingxy</string>
			<key>png</key>
			<string>d_xingxy.png</string>
			<key>lenght</key>
			<string>8</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[哭]</string>
			<key>name</key>
			<string>ku</string>
			<key>png</key>
			<string>d_ku.png</string>
			<key>lenght</key>
			<string>4</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[调皮]</string>
			<key>name</key>
			<string>tiaop</string>
			<key>png</key>
			<string>d_tiaop.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[苦闷]</string>
			<key>name</key>
			<string>kum</string>
			<key>png</key>
			<string>d_kum.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[无语]</string>
			<key>name</key>
			<string>wuyu</string>
			<key>png</key>
			<string>d_wuyu.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[淡定]</string>
			<key>name</key>
			<string>dand</string>
			<key>png</key>
			<string>d_dand.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[囧]</string>
			<key>name</key>
			<string>jio</string>
			<key>png</key>
			<string>d_jio.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[闭嘴]</string>
			<key>name</key>
			<string>biz</string>
			<key>png</key>
			<string>d_biz.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[衰]</string>
			<key>name</key>
			<string>shuai</string>
			<key>png</key>
			<string>d_shuai.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[狗头]</string>
			<key>name</key>
			<string>gout</string>
			<key>png</key>
			<string>d_gout.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[猪头]</string>
			<key>name</key>
			<string>zhut</string>
			<key>png</key>
			<string>d_zhut.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[抱拳]</string>
			<key>name</key>
			<string>baoq</string>
			<key>png</key>
			<string>d_baoq.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[比心]</string>
			<key>name</key>
			<string>bix</string>
			<key>png</key>
			<string>d_bix.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[强]</string>
			<key>name</key>
			<string>qiang</string>
			<key>png</key>
			<string>d_qiang.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[握手]</string>
			<key>name</key>
			<string>wosh</string>
			<key>png</key>
			<string>d_wosh.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[胜利]</string>
			<key>name</key>
			<string>shengl</string>
			<key>png</key>
			<string>d_shengl.png</string>
			<key>lenght</key>
			<string>8</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[加油]</string>
			<key>name</key>
			<string>jiay</string>
			<key>png</key>
			<string>d_jiay.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[OK]</string>
			<key>name</key>
			<string>ok</string>
			<key>png</key>
			<string>d_ok.png</string>
			<key>lenght</key>
			<string>4</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[举手]</string>
			<key>name</key>
			<string>jus</string>
			<key>png</key>
			<string>d_jus.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[NO]</string>
			<key>name</key>
			<string>no</string>
			<key>png</key>
			<string>d_no.png</string>
			<key>lenght</key>
			<string>4</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心动]</string>
			<key>name</key>
			<string>xind</string>
			<key>png</key>
			<string>d_xind.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[心碎]</string>
			<key>name</key>
			<string>xins</string>
			<key>png</key>
			<string>d_xins.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[茶]</string>
			<key>name</key>
			<string>cha</string>
			<key>png</key>
			<string>d_cha.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[咖啡]</string>
			<key>name</key>
			<string>kaf</string>
			<key>png</key>
			<string>d_kaf.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[饭]</string>
			<key>name</key>
			<string>fan</string>
			<key>png</key>
			<string>d_fan.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[酒杯]</string>
			<key>name</key>
			<string>jiub</string>
			<key>png</key>
			<string>d_jiub.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[花]</string>
			<key>name</key>
			<string>hua</string>
			<key>png</key>
			<string>d_hua.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[庆祝]</string>
			<key>name</key>
			<string>qingz</string>
			<key>png</key>
			<string>d_qingz.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[礼物]</string>
			<key>name</key>
			<string>liw</string>
			<key>png</key>
			<string>d_liw.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[烟花]</string>
			<key>name</key>
			<string>yanh</string>
			<key>png</key>
			<string>d_yanh.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[金牌]</string>
			<key>name</key>
			<string>jinp</string>
			<key>png</key>
			<string>d_jinp.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[银牌]</string>
			<key>name</key>
			<string>yinp</string>
			<key>png</key>
			<string>d_yinp.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[铜牌]</string>
			<key>name</key>
			<string>tongp</string>
			<key>png</key>
			<string>d_tongp.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[锤子]</string>
			<key>name</key>
			<string>chuiz</string>
			<key>png</key>
			<string>d_chuiz.png</string>
			<key>lenght</key>
			<string>7</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[拂尘]</string>
			<key>name</key>
			<string>fuc</string>
			<key>png</key>
			<string>d_fuc.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[问号]</string>
			<key>name</key>
			<string>wenh</string>
			<key>png</key>
			<string>d_wenh.png</string>
			<key>lenght</key>
			<string>6</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[创]</string>
			<key>name</key>
			<string>chuang</string>
			<key>png</key>
			<string>d_chuang.png</string>
			<key>lenght</key>
			<string>8</string>
			<key>isNewAdd</key>
			<true/>
		</dict>
		<dict>
			<key>chs</key>
			<string>[骷髅]</string>
			<key>name</key>
			<string>kul</string>
			<key>png</key>
			<string>d_kul.png</string>
			<key>lenght</key>
			<string>5</string>
			<key>isNewAdd</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
