<?xml version="1.0" encoding="utf-8"?>
<root>
    <GroupName>Fastonz</GroupName>
    <ProductName>FMMobile</ProductName>
    <Version>3.36.10.42</Version>
    <ProductSeries>1</ProductSeries>
    <ProductID>FMM002SDK</ProductID>
    <ClientType>4</ClientType>
    <TerminalType>13</TerminalType>
    <ClientMode>1</ClientMode>
    <DownloadBitrate>80000</DownloadBitrate>
    <FrontSrvAppID>20</FrontSrvAppID>
    <!--前置请求配置中心服务ID-->
    <EntranceSrvAppID>8</EntranceSrvAppID> 
    <RoomAppID>11</RoomAppID>
    <!--音视频参数定义-->
    <MaxFrameRate>30</MaxFrameRate>
    <MaxVideoWidth>720</MaxVideoWidth>
    <MaxVideoHeight>1280</MaxVideoHeight>
    <MaxVideoBitrate>3000</MaxVideoBitrate>
    <MaxMediaBitrate>3000</MaxMediaBitrate>
    <CameraVerticalMode>1</CameraVerticalMode>
    <OverlayNameOnLocalVideo>0</OverlayNameOnLocalVideo>
    <OverlayNameOnRemoteVideo>0</OverlayNameOnRemoteVideo>
    <!--功能开关-->
    <SupportDualMode>0</SupportDualMode>
    <SupportMultiVideoChannel>0</SupportMultiVideoChannel>
    <SupportScreenDevice>0</SupportScreenDevice>
    <EnableAudio>1</EnableAudio>
    <EnableVideo>1</EnableVideo>
    <EnableWB>1</EnableWB>
    <EnableWEB>0</EnableWEB>
    <EnableVNC>1</EnableVNC>
    <EnableMedia>0</EnableMedia>
    <EnableChat>1</EnableChat>
    <EnableFile>1</EnableFile>
    <EnableVote>0</EnableVote>
    <ClientEdition>2</ClientEdition>
    <!--窗口模式-->
    <InitWndMode>3</InitWndMode>
    <InitWndVideoRelayID>4</InitWndVideoRelayID>
    <InitWndDataActive>0</InitWndDataActive>
    <MaxVideoSplitCount>9</MaxVideoSplitCount>
    <AdConfig></AdConfig>
    <DefaultServerList>
        <Server>a.hst.com</Server>
        <Server>t.hst.com</Server>
    </DefaultServerList>
</root>
